
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



:root{
    --main-color:#d3ad7f;
    --black:#131313a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
   font-family: 'Roboto',sans-serif; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;

}

html::-webkit-scrollbar-thumb{
    background: #FFF;
    border-radius: 5rem;

}
body{
    background: var(--bg);

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #FFF;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;

}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;

}
.header .logo img{
    height: 6rem;

}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #FFF;
}
.header .navbar.active{
  
    right: 0;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;

}

.header .icons div{
    color: #FFF;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}
.header .icons div:hover{
    color: var(--main-color);

}

#menu-btn{
    display: none;

}
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #FFF;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;

}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);

}
.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top: 100%;right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #FFF;
    padding: 0 1.5rem;
    
}

.header .cart-items-container.active{
    right: 0;
}


.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;

}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;

}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--black);
 

}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}














/* media queri */
@media (max-width:991px){
    html{
        font-size: 55%;

    }
    .header{
        padding: 1.5rem 2rem;
        
    }

}


/* media queri */
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        background: #FFF;
      
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }
}


@media (max-width:450px){
    html{
        font-size: 50%;

    }
  
}
